<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="${basedir}/logs/internal-nlog.txt"
      throwExceptions="true">

  <variable name="logDirectory" value="${basedir}/logs"/>
  <variable name="archiveLogDirectory" value="${basedir}/logs/archives"/>
  <targets>
    <target name="errors"
            xsi:type="File"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|${callsite}"
            fileName="${logDirectory}/errors-${cached:${date:format=yyyy-MM-dd__HH_mm_ss}}.log"
            concurrentWrites="true"
            keepFileOpen="false"
            archiveFileName="${archiveLogDirectory}/errors-{#}.txt"
            archiveEvery="Minute"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyy-MM-dd__HH_mm_ss"
            maxArchiveFiles="100"
		/>

    <!--<target name="errors" xsi:type="File"
        layout="${longdate} ${logger} ${message}"
        fileName="${basedir}/logs/logfile.txt"
        archiveFileName="${basedir}/logs/archives/log.{#}.txt"
        archiveEvery="Minute"
        archiveNumbering="Rolling"
        maxArchiveFiles="7"
        concurrentWrites="true"
        keepFileOpen="false"
          />-->

    <target name="console"
            xsi:type="ColoredConsole"
            layout="${date:format=HH\:mm\:ss} | [${uppercase:${level}}] ${message} ${exception:format=tostring}"
            useDefaultRowHighlightingRules="false">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray"  />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
      <!-- <highlight-word text="[GUI]" foregroundColor="Blue" /> -->
      <!-- <highlight-word text="[Lynx]" foregroundColor="Blue" /> -->
      <highlight-word regex="Lynx\.[^\s:(|]*" foregroundColor="DarkGreen" />
      <highlight-word regex="\[GUI\]|debug|go|isready|ponderhit|position|quit|register|setoption|stop|uci|ucinewgame" foregroundColor="Blue" />
      <highlight-word regex="searchmoves|ponder|wtime|btime|winc|binc|movestogo|depth|mate|movetime|infinite" foregroundColor="DarkMagenta" />
      <highlight-word regex="\[Lynx\]|bestmove|copyprotection|id|info|option|readyok|registration|uciok" foregroundColor="Green" />
    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Warn" writeTo="errors"/>
    <logger name="*" minlevel="Trace" writeTo="console"/>
  </rules>
</nlog>