name: Benchmarks

on:
  workflow_dispatch:
    inputs:
      benchmark_name:
        description: 'Benchmark name'
        default: '*'
        required: false

jobs:

  benchmark:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
      fail-fast: false

    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1

    steps:
    - uses: actions/checkout@v2.3.4

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1.8.1
      with:
        dotnet-version: '6.0.x'
        include-prerelease: true

    - name: Build
      run: dotnet build -c Release

    - name: Run ${{ github.event.inputs.benchmark_name }} benchmark
      run: dotnet run -c Release --no-build --filter '${{ github.event.inputs.benchmark_name }}'
      working-directory: ./src/Lynx.Benchmark

    - name: 'Upload ${{ matrix.os }} artifacts'
      continue-on-error: true
      uses: actions/upload-artifact@v2
      with:
        name: artifacts-${{ matrix.os }}-${{ github.run_number }}
        # Can't include 'github.event.inputs.benchmark_name' in the name, since * is an invalid character
        path: ./src/Lynx.Benchmark/BenchmarkDotNet.Artifacts/results/
        if-no-files-found: error
